/**{
    outline: 1px solid red
}*/

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.game-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square{
    width: 19%;
    padding-bottom: 19%;
    background-color: #aaa;
    outline: 1px solid #666
}
.blue{
    background-color: blue;
}
.red{
    background-color: #c00000;
}